@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Regular.woff') format('woff');
  src: url('fonts/ProximaNova-Regular.otf') format('opentype');
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2');
}